/*{max-width: 100%; height: auto;};*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-pad{
  padding-top: 5%;
  padding-bottom:5%;
  height: auto;
  overflow-wrap: break-word;
  white-space: pre-line;
}

@media (max-width: 800px){
  .container-pad{
    padding-bottom: 40%;
    max-width: 100vw;
  }
}

.fluid-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 800px){
  .fluid-container{
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }
}
.fluid-containerB{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  height: auto;
}
@media (max-width: 800px){
  .fluid-containerB{
    flex-direction: column-reverse;
    text-align: center;
  }
}

.fluid-containerC{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
  height: auto;
}

.fluid-containerD{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: auto;
}

details > summary {
  cursor: pointer
}

details>summary:hover {
  font-weight: bold;
}

.makebold{
  background-color: #fafafa;
}
.makebold:hover{
  background-color: #e7e7e7; 
  /*font-weight: bold;*/
}
.detailcontent{
  padding-left: 20px;
}
.bg-ox{
  background-color: #002147
}
.site-title{
  font-weight: bold;
  font-size: large;
  max-width: 100%;
  height: auto;
  overflow-wrap: break-word;
  white-space: pre-line;
  justify-self: center;
}

@media (min-width: 800px){
  .header-title{
    position:relative;
    top: 20px;
  }
}

#navbar-titles, #navbar-brand-title{
  max-width: 100%;
  overflow-wrap: break-word;
  align-self: flex-end;
}

.scroll{
  width: 100%;
  overflow-x: scroll;
}
.max-view{
  height: auto;
}
.topreturn{
  color: white;
  text-decoration: none;
  text-decoration: underline;
  text-align: right;
}
.footer-email{
  color: white;
  text-decoration: none;
}

.button-abstract{
  text-decoration: underline;
}
.button-abstract:hover{
  color: blue;
}
.text-center, .centerMe{
  text-align: center;
  vertical-align: middle;
}
.card-home {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: fit-content;
  max-width: 325px;
}

.card-organisers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 325px;
  margin: 15px;
}

.card-organisers img{
  border-radius: 5px 0px 0px 5px ;
  height: 200px;
  align-self: center;
}

.card-home img{
  border-radius: 5px 5px 0px 0px ;
  height: 200px;
  align-self: center;
}
.card-home:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content, .card-content:hover, .card-content:active, .card-content:visited  {
  text-decoration: none;
  color: #002147;
  padding: 2px 16px;
  font-weight: bold;
}

.text-left{
  text-align: left;
}

th{
  vertical-align: middle;
  text-align: center;
}
td {
  text-align: left;
  margin: 0 auto;
}

td[rowspan]:not([rowspan="1"]) {
  text-align: center;
  vertical-align: middle;
}

td[colspan]:not([colspan="1"]) {
  text-align: center !important;
  vertical-align: middle;
}
@media (max-width: 800px){
  td[colspan]:not([colspan="1"]) {
    text-align: left !important;
    vertical-align: middle;
  }
}
.tc-line td:nth-child(9),.tc-line th:nth-child(9) {
  border-left: 2px solid #3498db;
}
.col-width td:nth-child(2){
  width:85%;
}

.nav-spy{
  margin: 0px;
  padding: 2px;
  text-align: center;

}
.scrollspy-content{
 padding-top:20px;
}
td a {
  color: black;
}

footer div a {
  color: white;
  text-decoration: underline;
}

#myScroll {
  width: fit-content;
  margin-bottom: 5px;
}
.tablenum {
  counter-reset: rowNumber
}

.tablenum tr::before{
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: right;
}